@model List<ResultEventDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered table table-hover">
    <tr>
        <th>#</th>
        <th>Etkinlik Adı</th>
        <th>Konum</th>
        <th>Kapasite</th>
        <th>Fiyat</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EventId</td>
            <td>@item.Title</td>
            <td>@item.Location</td>
            <td>@item.Capacity</td>
            <td>@item.Price</td>
            <td><a href="/Event/UpdateEvent/@item.EventId" class="btn btn-primary">Güncelle</a></td>
            <td><a href="/Event/DeleteEvent/@item.EventId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<a href="/Event/CreateEvent" class="btn btn-dark">Ekle</a>